.foods__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foods__form h2 {
  font-size: 3.5rem;
  line-height: 36px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin: 30px 0;
  color: #0a6135;
}

.ulFoods {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 8px;
  /* background-color: #aaaaa817; */
  padding-bottom: 20px;
}
.liFoods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  row-gap: 5px;
  background-color: #a6c1b9;
  border-radius: 1rem;
  border: #19195b solid 1px;
  box-shadow: 0 1px 2px #06203a;
  padding-bottom: 10px;
  /* margin-left: 5px; */
  width: 265px;
  height: 340px;
}
.foodItem {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 120px;
  font-size: 1.3rem;
}

.image {
  background-color: #a6c1b9;
  position: relative;
  height: 300px;
  width: 265px;
  /* text-align: center; */
  padding-bottom: 10px;
  overflow: hidden;
}
.image--btn {
  position: absolute;
  top: 130px;
  font-size: 32px;
  left: 8px;
  border-radius: 6px;
  padding: 15px 25px;
  background-color: #0a6135;
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: grid;
}
.foodImg {
  width: 262px;
  height: 275px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
}
.ulFoodDetails {
  list-style: none;
}

.foodName {
  color: #095e1a;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}

.foodPrice {
  color: #095e1a;
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-size: 2.2rem;
}
.search {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 450px;
  height: 50px;
}
.search input[type="search"] {
  font-size: 12px;
  width: 450px;
  height: 50px;
  border-radius: 30px;
  background-color: #fff;
  color: #3e4555;
  box-shadow: 0 2px 2px #dddfe1;
  padding-left: 46px;
}
.search label {
  position: absolute;
  font-size: 2rem;
  color: #000;
  font-weight: 600;
  left: -99999px;
}

.searchInput::placeholder {
  font-size: 2.5rem;
  color: #095e1a;
}

.search svg {
  position: absolute;
  left: 15px;
  top: 8px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  color: #59705e;
}

/*TABLETS*/

@media screen and (max-width: 768px) {
  .ulFoods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
  }
  .foodImg {
    width: 220px;
    height: 220px;
    cursor: pointer;
  }
  .liFoods {
    height: 290px;
    width: 240px;
  }
  .image {
    height: 240px;
    width: 230px;
    padding-top: 10px;
  }

  .image--btn {
    font-size: 22px;

    left: 20px;
  }
  .foodItem {
    column-gap: 100px;
  }

  .foodName {
    font-size: 2.6rem;
    font-weight: 600;
  }

  .foods__form > h2 {
    font-size: 2.5rem;
    color: #000;
  }
  .search {
    width: 400px;
    height: 60px;
  }
  .search input[type="search"] {
    font-size: 20px;
    width: 400px;
    height: 50px;
    padding-left: 60px;
  }

  .searchInput::placeholder {
    font-size: 2.5rem;
    color: #095e1a;
  }

  .search svg {
    position: absolute;
    left: -4px;
    top: 13px;
    cursor: pointer;
    color: #59705e;
  }

  .home svg {
    width: 80px;
    height: 40px;
  }
}
@media screen and (max-width: 480px) {
  .foods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ulFoods {
    display: grid;
    grid-template-columns: 1fr;
  }
  .foodItem {
    column-gap: 90px;
  }
  .liFoods {
    row-gap: 6px;
    height: 250px;
    width: 225px;
  }
  .image {
    height: 210px;
    width: 210px;
  }

  .image--btn {
    top: 130px;
    left: 10px;
  }
  .foodImg {
    width: 210px;
    height: 200px;
    cursor: pointer;
  }

  .foods__form > h2 {
    font-size: 2.5em;
    text-align: center;
    color: #000;
  }

  .search {
    width: 200px;
    height: 60px;
  }

  input[type="search"] {
    font-size: 20px;
    width: 200px;
    height: 60px;
    padding-left: 60px;
  }

  .searchInput::placeholder {
    font-size: 22px;
    padding-top: 15px;
  }

  .search svg {
    width: 50px;
    height: 50px;
    left: -45px;
    top: 16px;
  }

  .home svg {
    width: 40px;
    height: 30px;
  }
  .foodName {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .foodPrice {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
