.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

h1 {
  font-size: 42px;
}

.farmContainer {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 4fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  /* width: 1400px; */
  height: 100vh;
  width: 100%;
  background: #5d966e6a;
}

.check {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.farmContent {
  position: absolute;
  width: 400%;
  grid-column: 1/2;
  grid-row: 3/4;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1;
  font-size: 5.2rem;
}

.App__header {
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  position: absolute;
  font-size: 22px;
  font-weight: 700;
  grid-column: 1/4;
  grid-row: 2/3;
}
.scrollDown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.3px;
  grid-column: 3/4;
  grid-row: 4/5;
  color: #095e1a;
  cursor: pointer;
}
.scrollDown svg {
  width: 60px;
  height: 40px;
}

.farmImg {
  width: 100%;
  height: 100vh;
  grid-column: 1/3;
  grid-row: 1/-1;
  padding-bottom: 20px;
  background-size: cover;
  transition: filter 0.5s;
}

.liAppHeading {
  padding-bottom: 20px;
  color: #0a6135;
  font-size: 256%;
  line-height: 40px;
  letter-spacing: 1.1px;
  font-weight: 600;
}

.liApp {
  display: flex;
  color: #05301b;
  font-size: 220%;
  line-height: 36px;
  letter-spacing: 1.5px;
  font-weight: 400;
  justify-content: start;
  align-items: center;
}

.quantItem {
  margin-left: 10px;
}
.foodApp {
  position: absolute;
  grid-column: 3/4;
  grid-row: 1/4;
  justify-self: center;
  align-self: center;
  font-size: 12px;
  list-style-type: none;
  padding: 10px 0;
  width: 80%;
}

@media screen and (max-width: 1290px) {
  .home {
    width: 1250px;
    margin: 0 auto;
  }
  .farmContainer {
    width: 1250px;
    height: 650px;
  }
  .liAppHeading {
    font-size: 260%;
    line-height: 40px;
  }
  .liApp {
    font-size: 220%;
    line-height: 30px;
  }
  .check {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  .farmContent {
    width: 400%;
    line-height: 80px;
  }
  .farmImg {
    height: 650px;
  }
}

/*TABLETS*/

@media screen and (max-width: 768px) {
  .home {
    margin-top: 0.2rem;
    width: 768px;
  }

  .farmContainer {
    height: 650px;
    width: 768px;
  }
  .farmContent {
    font-size: 3.5rem;
    line-height: 50px;
  }

  .liApp .check {
    height: 18px;
    width: 18px;
  }

  .scrollDown {
    font-size: 2rem;
  }

  .liApp {
    font-size: 148%;
    line-height: 25px;
  }

  .liAppHeading {
    font-size: 172%;
    font-weight: 600;
    line-height: 26px;
  }

  .App__header {
    position: absolute;
    top: 0;
    left: 0;
  }

  .settingsbtn svg {
    background-color: #272771;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    height: 30px;
    width: 30px;
  }

  .cartLink svg,
  .contactsLink svg,
  .foodsLink svg {
    cursor: pointer;
    padding: 0;
    height: 30px;
    width: 30px;
  }
  .settingsbtn {
    font-size: 24px;
  }

  .farmImg {
    height: 650px;
  }
}

/*Mobiles*/

@media screen and (max-width: 480px) {
  .farmContainer {
    display: grid;
    position: relative;
    font-size: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 1100px;
    width: 470px;
  }

  .home {
    width: 470px;
  }
  .farmContent {
    top: 250px;
    left: 6px;
    grid-row: 1;
    font-size: 3.2em;
    width: 400px;
  }

  .foodApp {
    position: relative;
    justify-self: center;
    align-self: center;
    grid-row: 2/3;
    grid-column: 1;
    margin: 0 auto;
  }
  .farmImg {
    grid-row: 1/2;
    width: 470px;
    height: 650px;
  }

  .liAppHeading {
    padding-bottom: 20px;
    color: #0c0505;
    font-size: 2.2em;
    font-weight: 700;
  }
  .liApp {
    font-size: 1.8em;
    line-height: 32px;
  }

  .scrollDown {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    grid-row: 1;
    grid-column: auto;
    top: 450px;
    left: 0;
  }
  h1 {
    grid-row: 1;
    top: 150px;
    left: 6px;
    font-size: 30px;
  }
  .check {
    margin-top: 3px;
    font-size: 20px;
  }
}
